@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal styles */
.mont {
  font-family: "Montserrat", sans-serif;
}

.sctOneNumbers {
  font-size: 50px;
  font-weight: 300;
}

.text {
  font-size: 20px;
}

.rou {
  border-radius: 10px;
}

.rou-t {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rou-b {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr:nth-child(2n - 1) {
  background-color: #fff;
}

tr:nth-child(2n) {
  background-color: #eee;
}

/* Light mode styles */
.light-blue1 {
  background-color: #caf0f8;
}

.light-blue2 {
  background-color: #96f2ff;
}

.light-blue3 {
  background-color: #48cae4;
}
.light-blue4 {
  background-color: #00b4d8;
}

.light-table1 {
  background-color: #fff;
}

.light-table2 {
  background-color: #eee;
}

.light-success {
  background-color: #96ff96;
}

.light-danger {
  background-color: #ff9696;
}

.light-neutral {
  background-color: #f0ff96;
}

.light-text {
  color: #000;
}

/* Dark mode styles */

.dark-blue1 {
  background-color: #00c0ff;
}

.dark-blue2 {
  background-color: #00b4d8;
}

.dark-blue3 {
  background-color: #0077b6;
}

.dark-blue4 {
  background-color: #03045e;
}

.dark-table1 {
  background-color: #000;
}

.dark-table2 {
  background-color: #444;
}

.dark-success {
  background-color: #009800;
}

.dark-danger {
  background-color: #db0000;
}

.dark-neutral {
  background-color: #e3e300;
}

.dark-text {
  color: #fff;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: #fff;
  width: 12.5px;
  height: 12.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #48cae4;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00b4d8;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(0, 147, 176);
}
